<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wzu.server.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.wzu.server.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.wzu.server.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.wzu.server.FriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.wzu.server.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.wzu.server.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoaskServlet</servlet-name>
    <servlet-class>com.wzu.server.DoaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddActServlet</servlet-name>
    <servlet-class>com.wzu.server.AddActServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActchangeServlet</servlet-name>
    <servlet-class>com.wzu.server.ActchangeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActfinishServlet</servlet-name>
    <servlet-class>com.wzu.server.ActfinishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.wzu.server.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentAddServlet</servlet-name>
    <servlet-class>com.wzu.server.CommentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomeCommentServlet</servlet-name>
    <servlet-class>com.wzu.server.HomeCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>com.wzu.server.TagServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FriendFindServlet</servlet-name>
    <servlet-class>com.wzu.server.FriendFindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FriendMessageServlet</servlet-name>
    <servlet-class>com.wzu.server.FriendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.wzu.server.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FriendRequestServlet</servlet-name>
    <servlet-class>com.wzu.server.FriendRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoFriendAskServlet</servlet-name>
    <servlet-class>com.wzu.server.DoFriendAskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.wzu.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.wzu.server.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>com.wzu.server.UserSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.wzu.server.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActnowServlet</servlet-name>
    <servlet-class>com.wzu.server.ActnowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeActServlet</servlet-name>
    <servlet-class>com.wzu.server.ChangeActServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JoinIconServlet</servlet-name>
    <servlet-class>com.wzu.server.JoinIconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/servlet/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/servlet/FriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/servlet/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/servlet/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoaskServlet</servlet-name>
    <url-pattern>/servlet/DoaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActServlet</servlet-name>
    <url-pattern>/servlet/AddActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActchangeServlet</servlet-name>
    <url-pattern>/servlet/ActchangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActfinishServlet</servlet-name>
    <url-pattern>/servlet/ActfinishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentAddServlet</servlet-name>
    <url-pattern>/servlet/CommentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeCommentServlet</servlet-name>
    <url-pattern>/servlet/HomeCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/servlet/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendFindServlet</servlet-name>
    <url-pattern>/servlet/FriendFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendMessageServlet</servlet-name>
    <url-pattern>/servlet/FriendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/servlet/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendRequestServlet</servlet-name>
    <url-pattern>/servlet/FriendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFriendAskServlet</servlet-name>
    <url-pattern>/servlet/DoFriendAskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/servlet/UserSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/servlet/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActnowServlet</servlet-name>
    <url-pattern>/servlet/ActnowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeActServlet</servlet-name>
    <url-pattern>/servlet/ChangeActServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>JoinIconServlet</servlet-name>
    <url-pattern>/servlet/JoinIconServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
    <filter-name>SqlFilter</filter-name>
    <filter-class>com.wzu.control.SqlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SqlFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>